.hero-image {
    width: 100%;
    height: 700px;
    position: relative;
    object-fit: cover;
}

.images{
    width: 20%;
    height: 300px;
    object-fit: cover;
}

.dish-title0{
    position: absolute;
    left: 0%;
    color: white;
    font-size: 1vw;
    z-index: 9999;
}
.dish-title1{
    position: absolute;
    left: 20%;
    color: white;
    font-size: 1vw;
    z-index: 9999;
}
.dish-title2{
    position: absolute;
    left: 40%;
    color: white;
    font-size: 1vw;
    z-index: 9999;
}
.dish-title3{
    position: absolute;
    left: 60%;
    color: white;
    font-size: 1vw;
    z-index: 9999;
}
.dish-title4{
    position: absolute;
    left: 80%;
    color: white;
    font-size: 1vw;
    z-index: 9999;
}

.please-select{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.custom-navbar {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*transparent navbar*/
    background-color: rgba(173, 216, 230, 0.5);
    /*background-color: blanchedalmond; !* Adding this to test button for sidebar*!*/
    z-index: 9999;
    font-size: 1.1vw;
    color: white; /* Adding this for better visibility */
}

.custom-navbar a, .custom-navbar Button {
    text-decoration: none;
    color: #757780; /* Text color for navbar links */
}

.BoroughMap {
    text-align: center !important;
}

.price-range-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-range-buttons button {
    padding: 10px 20px;
    background-color: #d2cca1;
    color: #757780;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 24px;
    width: 150px;
}

.price-range-buttons button:hover {
    background-color: #98c199;
    color: white;
}
.price-range-buttons button:focus {
    background-color: #757780;  /* or any color to indicate it's active */
    color: white;
}


body {
    background-color: #dbd4d3 !important;
}

.ResetButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ResetButton button {
    padding: 10px 20px;
    background-color: #d2cca1;
    color: #757780;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 24px;
    width: 150px;
    height: 45px;
}

.ResetButton button:hover {
    background-color: #98c199;
    color: white;
}

.RestaurantBox {
    background-color: #dbd4d3;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 300px;
    overflow-y: auto;
}

.EachRestaurant {
    background-color: #d2cca1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 100px;
}

.EachRestaurant button {
    padding: 10px 20px;
    background-color: transparent;
    color: #757780;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ab7e78; /* Adjusted slider color */
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #dbd4d3; /* Adjusted the knob color */
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #98C199;
}

input:focus + .slider {
    box-shadow: 0 0 1px #98C199;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider-css {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.borough-name{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #d2cca1;
    color: #757780;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 24px;
    width: 300px;
}

.cuisine-selecter {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuisine-selecter label {
    margin-bottom: 10px;
    font-weight: bold;
}

.cuisine-selecter select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}



/* SIDEBAR CSS */
.sidenav {
    width: 240px;
    background: #757780;
    position: fixed;
    height: 100%;
    padding: 0 30px;
    right: -240px; /* Start with the sidebar completely hidden to the right */
    transition: all 0.4s;
    z-index: 998;
}

.sidenav.active {
    right: 0; /* When active, move the sidebar to the right edge of the screen */
}

/* 6min52 ul css mods */
/* I want the openSideBarButton to be at the top right of the screen */
.openSideBarButton {
    position: fixed; /* Use "fixed" to keep it in the same position while scrolling */
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 9999;
}

.circular-button {
    width: 40px; /* Adjust the width to make it circular */
    height: 40px; /* Same as width to make it circular */
    border-radius: 50%; /* Makes the button circular */
    background-color: darkgray; /* Set the button's background color */
    color: #fff; /* Set the text color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Add hover effect if desired */
.circular-button:hover {
    background-color: white; /* Change color on hover */
}



/* Footer Styles */

.footer {
    background-color: #757789;
    color: #fff;
    padding: 40px 0;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff5733; /* Change the color on hover */
}

/* Copyright Text Styles */

.footer h3:last-child {
    font-size: 18px;
    margin-top: 20px;
    font-weight: normal;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }

    .social-icons li {
        margin: 0 5px;
    }
}